.timerContainer{
    padding: 3px 8px 3px 8px;
    border-radius: 3px;
    margin: 3px 8px 3px 8px;
    height: 40px;
    /* vertical-align: middle; */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    
    /* background-color: rgb(221, 220, 220); */
    /* background-color: rgb(37, 36, 36);; */
    /* color: rgb(37, 36, 36); */
}

.timerContainer p{
    display: inline-block;
    /* padding: 5px; */
    margin-left: 10px;
    width: 30px;
}