.mine {
    width:40px;
    height: 40px;
    padding: 0;
    cursor: pointer;
    transition: background-color .05s;
    text-align: center;
    font-size: 20px;
}

.mine.light{
    background-color: rgb(20, 121, 184);
    /* border: 1px solid  rgb(20, 121, 184); */
}

.mine.dark {
    background-color: rgb(57, 144, 197);
    /* border: 1px solid  rgb(57, 144, 197); */

}

.mine.bomb{
    /* background-color: rgb(20, 20, 20);  */
}

.mine.opened.light{
    background-color: rgb(233, 224, 224);
}

.mine.opened.dark{
    background-color: rgb(223, 221, 221);
}

.mine.closed:hover{
    /* background-color: rgba(30, 154, 231, 0.609); */
    background-color: rgba(20, 121, 184, 0.527);
    /* border: 1px solid  rgba(204, 204, 204, 0.418); */
}


