.showFlagsContainer{
    border-radius: 3px;
    margin: auto 0;
    height: 40px;
    
    display: flex;
    flex-direction: row;
    align-items: center;
    flex:1;
    justify-content: center;

    color: rgb(231, 42, 42);
}

.showFlagsContainer p{
    display: inline-block;
    margin-left: 10px;
    width: 30px;
    color: #ccc;
}