table { 
    border-spacing: 0px;
    border-collapse: separate;
    /* border:3px solid #00416A; */
    border-radius: 2px;
    /* margin: 0 auto; */
}

.gameContainer{
    
    /* width: 400px;
    height: 400px; */
    margin: 0 auto;
    
}