.square {
    width:40px;
    height: 40px;
    padding: 0;
    transition: background-color .05s;
    text-align: center;
    font-size: 1.3rem;
}

.square.light{
    background-color: rgb(57, 144, 197);
    /* border: 1px solid  rgb(20, 121, 184); */
}

.square.dark {
    background-color: rgb(20, 121, 184);
    /* border: 1px solid  rgb(57, 144, 197); */

}

.square.opened.light{
    background-color: rgb(233, 224, 224);
}

.square.opened.dark{
    background-color: rgb(223, 221, 221);
}


.square.opened.light.isGameWon{
    animation: bright-in-light 3s;
    filter: brightness(120%);
    background-color:#91caf8; 
    /* animation: fadein-opened-light 2s; */
    
}

.square.opened.dark.isGameWon{
    animation: bright-in-dark 3s;
    filter: brightness(120%);
    background-color:#7bbef5;
    /* animation: fadein-opened-dark 2s; */
}

.square.closed.dark.isGameWon{
    /* animation: bright-in-dark 3s;
    filter: brightness(120%); */
    /* animation: fadein-closed-dark 5s; */
}

.square.closed.light.isGameWon{
    /* animation: bright-in-light 3s;
    filter: brightness(80%); */
    /* animation: fadein-closed-light 5s; */
}

.square.closed:hover{
    /* background-color: rgba(30, 154, 231, 0.609); */
    width: 36px;
    height: 36px;
    border-radius: 3px;
    border: 2px solid rgba(10, 45, 204, 0.685);
    background-color: rgb(110, 193, 245);
    /* background-color: rgba(20, 121, 184, 0.527); */
    /* border: 1px solid  rgba(204, 204, 204, 0.418); */
}



@keyframes bright-in-light {
    from { filter: brightness(100%); background-color:rgb(233, 224, 224)}
    to   { filter: brightness(120%);background-color:#91caf8; }
}

@keyframes bright-in-dark {
    from { filter: brightness(100%); background-color:rgb(223, 221, 221)}
    to   { filter: brightness(120%);background-color:#7bbef5; }
}